Package: com.hackyouriphone.donjoeeshablolaguerradeipoveriringtone
Name: Don Joe & Shablo - La guerra dei poveri Ringtone
Version: 1.0
Architecture: iphoneos-arm
Author: NightCervant <repo@hackyouriphone.org>
Depiction: http://repo.hackyouriphone.org/depiction/depiction.php?filename=donjoeeshablolaguerradeipoveriringtone
Section: HYI - Ringtones
Description: Don Joe & Shablo - La guerra dei poveri
Homepage: http://repo.hackyouriphone.org/depiction/depiction.php?filename=donjoeeshablolaguerradeipoveriringtone
Maintainer: iDevid <repo@hackyouriphone.org>
